@media (max-width: 480px) {
#link1{
  text-decoration: none;
}
#link2{
  color: #cccc;
  text-decoration: none;
}
body {
  margin: 0;
  line-height: normal;
  box-sizing: border-box;
}
.sphere {
  color: var(--color-lightsteelblue);
}
.text-box {
  flex: 1;
  position: relative;
  line-height: 130%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.textbox {
  position: absolute;
  top: calc(50% - 501.5px);
  left: calc(50% - 109px);
  width: 218px;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.text-box1 {
  flex: 1;
  position: relative;
  line-height: 130%;
}
.textbox1,
.textbox2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.textbox1 {
  width: 81.25%;
  right: 9.38%;
  bottom: 835px;
  left: 9.38%;
  height: 158px;
  text-align: center;
  font-size: var(--font-size-base);
}
.textbox2 {
  top: calc(50% - 229.5px);
  left: calc(50% - 75px);
  width: 149px;
  height: 23px;
  font-size: var(--font-size-lg);
  color: var(--color-burlywood);
}
.text-box3 {
  flex: 1;
  position: relative;
  line-height: 130%;
  font-weight: 600;
}
.textbox3,
.textbox4,
.textbox5,
.textbox6,
.textbox7 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.textbox3 {
  top: calc(50% - 194.5px);
  left: calc(50% - 139px);
  width: 128px;
  font-size: var(--font-size-sm);
  color: var(--color-lightsteelblue);
}
.textbox4,
.textbox5,
.textbox6,
.textbox7 {
  top: calc(50% - 192.5px);
  left: calc(50% - 45px);
  width: 111px;
}
.textbox5,
.textbox6,
.textbox7 {
  top: calc(50% - 162.5px);
  left: calc(50% - 139px);
  width: 128px;
  font-size: var(--font-size-sm);
  color: var(--color-lightsteelblue);
}
.textbox6,
.textbox7 {
  top: calc(50% - 130.5px);
  width: 154px;
}
.textbox7 {
  top: calc(50% - 98.5px);
  width: 103px;
  height: 18px;
}
.textbox8 {
  top: calc(50% - 66.5px);
  width: 128px;
}
.textbox10,
.textbox11,
.textbox8,
.textbox9 {
  position: absolute;
  left: calc(50% - 139px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-lightsteelblue);
}
.textbox9 {
  top: calc(50% + 29.5px);
  width: 136px;
  height: 23px;
}
.textbox10,
.textbox11 {
  top: calc(50% - 2.5px);
  width: 128px;
}
.textbox11 {
  top: calc(50% - 34.5px);
}
.textbox12 {
  top: calc(50% + 31.5px);
  left: calc(50% - 39px);
  width: 117px;
  height: 18px;
}
.textbox12,
.textbox13,
.textbox14 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.textbox13 {
  top: calc(50% - 128.5px);
  left: calc(50% - 27px);
  width: 135px;
  height: 17px;
}
.textbox14 {
  top: calc(50% - 64.5px);
  left: calc(50% - 53px);
  width: 111px;
}
.textbox15 {
  top: calc(50% - 0.5px);
  left: calc(50% - 52px);
  width: 127px;
  height: 17px;
}
.textbox15,
.textbox16,
.textbox17 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.textbox16 {
  top: calc(50% - 96.5px);
  left: calc(50% - 34px);
  width: 227px;
  height: 17px;
  overflow: hidden;
}
.textbox17 {
  top: calc(50% - 32.5px);
  left: calc(50% - 62px);
  width: 154px;
  height: 18px;
}
.textbox18 {
  top: calc(50% - 160.5px);
  left: calc(50% - 49px);
  width: 111px;
}
.textbox18,
.textbox19,
.textbox20,
.textbox21,
.textbox22 {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.textbox19 {
  top: calc(50% + 92.5px);
  left: calc(50% - 96px);
  width: 192px;
  height: 24px;
  font-size: var(--font-size-lg);
  color: var(--color-burlywood);
}
.textbox20,
.textbox21,
.textbox22 {
  top: calc(50% + 148.5px);
  left: calc(50% - 20px);
  width: 71px;
  height: 17px;
  font-size: var(--font-size-base);
}
.textbox21,
.textbox22 {
  top: calc(50% + 277.5px);
}
.textbox22 {
  top: calc(50% + 213.5px);
}
.facebook-negative,
.twitter-negative {
  position: absolute;
  top: calc(50% + 132.5px);
  left: calc(50% - 79px);
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.twitter-negative {
  top: calc(50% + 263.5px);
}
.textbox23 {
  position: absolute;
  top: calc(50% + 361.5px);
  left: calc(50% - 97px);
  width: 192px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-burlywood);
}
.crypto-wallet-address1 {
  font-weight: 600;
}
.crypto-wallet-address {
  margin-block-start: 0;
  margin-block-end: 0;
}
.xb8c77482e45f1f44de1745f52c7441 {
  font-weight: 500;
}
.xb8c77482e45f1f44de1745f52c744 {
  margin: 0;
}
.textbox24,
.textbox25,
.textbox26 {
  position: absolute;
  top: calc(50% + 395.5px);
  left: calc(50% - 221px);
  width: 442px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
}
.textbox25,
.textbox26 {
  top: calc(50% + 478.5px);
  left: calc(50% - 160px);
  width: 310px;
  height: 25px;
  color: var(--color-white);
}
.textbox26 {
  top: calc(50% + 447.5px);
  left: calc(50% - 49px);
  width: 88px;
  height: 36px;
  font-size: var(--font-size-lg);
  color: var(--color-lightsteelblue);
}
.discord-negative {
  position: absolute;
  top: calc(50% + 197.5px);
  left: calc(50% - 79px);
  width: 48px;
  height: 48px;
  overflow: hidden;
}
.px {
  position: relative;
  background-color: #202125;
  width: 100%;
  height: 1055px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-lightgray);
  font-family: var(--font-poppins);
 }
}
